<%- include('../includes/head.ejs') %>
    </head>

    <body>
        <%- include('../includes/header.ejs') %>
            <main class="main">
                <div class="container">
                    <section class="project super-box" id="project">
                        <h2 class="project__title title super-box__left">
                            <%= title %>
                        </h2>
                        <div class="project__inner super-box__right">
                            <% for (project of projects) { %>
                                <a href="<%= project.link %>" target="_blank" class="project__link">
                                    <article class="project__box">
                                        <h3 class="project__name">
                                            <%= project.name %>
                                        </h3>
                                        <img src="<%= project.image.src %>" alt="<%= project.image.alt %>" class="project__img">
                                    </article>
                                </a>
                            <% } %>
                        </div>
                    </section>
                </div>
            </main>
        <%- include('../includes/footer.ejs') %>